<div class="row">
	<h1 class="text-center text-info">APL Learning</h1>
</div>
<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
                <h2 class="text-center text-muted">Login</h2>
				<div *ngIf="userLoginFailureMessage" class="alert alert-danger" role="alert">{{ message }}</div>
				<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
					<div class="form-group" [ngClass]="{'has-error':!loginForm.controls['user_name'].valid && loginForm.controls['user_name'].touched}">
						<label for="username">User Name</label>
						<input type="text" name="user_name" class="form-control" id="username" placeholder="User Name" [formControl]="loginForm.controls['user_name']" />
                        <small *ngIf="loginForm.controls['user_name'].hasError('required') && loginForm.controls['user_name'].touched" class="text-danger">Username Required</small>
					</div>
					<div class="form-group" [ngClass]="{'has-error':!loginForm.controls['password'].valid && loginForm.controls['password'].touched}">
						<label for="password">Password</label>
						<input type="password" name="username" class="form-control" id="password" placeholder="Password" [formControl]="loginForm.controls['password']" />
                        <small *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched" class="text-danger">Password Required</small>
					</div>
                    <div class="form-group text-center">
					    <button type="submit" class="btn btn-default" [disabled]="!loginForm.valid">Login</button>
                    </div>
				</form>
			</div>
		</div>
	</div>
</div>